{% extends "base.html" %}

{% block extra_head %}

<link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.14.0/adyen.css" integrity="sha384-Dm1w8jaVOWA8rxpzkxA41DIyw5VlBjpoMTPfAijlfepYGgLKF+hke3NKeU/KTX7t" crossorigin="anonymous">

{% endblock extra_head %}

{% block content %}

<main>
    <div class="container wow fadeIn">

        <h2 class="my-5 h2 text-center">Payment</h2>

        <div class="row">

            <div class="col-md-12 mb-4">
                <div id="dropin-container"></div>
            </div>

            {% include "order_snippet.html" %}

        </div>

    </div>
</main>
<form method="POST" action="{{ request.path }}" class="ajax">
  {% csrf_token %}
</form>
{% endblock content %}

{% block extra_scripts %}

<script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.14.0/adyen.js" integrity="sha384-JsWtX9H7PkCMYb50ZDb4AdPdVNcPDx/O+aUYtLyLxU3D04jiqFEqnLKMDUIWxBpv" crossorigin="anonymous"></script>

<script type="text/javascript">
const sessionId = '{{ session_id }}';
const sessionData = '{{ session_data }}';
const clientKey = '{{ client_key }}';
//come back later
//const type = JSON.parse(document.getElementById('integration-type').innerHTML);

// Used to finalize a checkout call in case of redirect
const urlParams = new URLSearchParams(window.location.search);
const redirectSessionId = urlParams.get('sessionId'); // Unique identifier for the payment session
const redirectResult = urlParams.get('redirectResult');


const configuration = {
  environment: 'test', // Change to 'live' for the live environment.
  clientKey: clientKey, // Public key used for client-side authentication: https://docs.adyen.com/development-resources/client-side-authentication
  session: {
    id: sessionId, // Unique identifier for the payment session.
    sessionData: sessionData // The payment session data.
  },
  onPaymentCompleted: (result, component) => {
      console.info(result, component);
  },
  onError: (error, component) => {
      
      console.error(error.name, error.message, error.stack, component);
  },
  paymentMethodsConfiguration: {
      ideal: {
          showImage: true
      },
      card: {
          hasHolderName: true,
          holderNameRequired: true,
          billingAddressRequired: true,
          name: "Credit or debit card",
          allow3DS2: true
      }
  }
};

async function startCheckout() {
  const checkout = await createAdyenCheckout(configuration);

  const dropinComponent = checkout.create('dropin').mount('#dropin-container');
  // dropinComponent.setStatus('error', { message: 'Something went wrong.'});
}

async function finalizeCheckout() {
    try {
        
        // Create an instance of AdyenCheckout to handle the shopper returning to your website.
        // Configure the instance with the sessionId you extracted from the returnUrl.
        
        
        //const checkout = await createAdyenCheckout(configuration);

        const checkout = await createAdyenCheckout({id: redirectSessionId});
 
        // Submit the redirectResult value you extracted from the returnUrl.
        checkout.submitDetails({ details: { redirectResult } });

        // check payment/details to find out status of payment
        response = callServer('/payment/details', {'redirectResult':redirectResult})
        dropin.setStatus(response.resultCode);
                
    } catch (error) {
        onError: (error, component) => {
        console.error(error.name, error.message, component);
    }
    }
}

async function createAdyenCheckout(configuration) {
  return new AdyenCheckout(configuration);
}

// Calls your server endpoints
async function callServer(url, data) {
	const res = await fetch(url, {
		method: "POST",
		body: data ? JSON.stringify(data) : "",
		headers: {
			"Content-Type": "application/json",
      "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
		}
	});

	return await res.json();
}

// Handles responses sent from your server to the client

if (!redirectSessionId) {
    startCheckout();
}
else {
    // existing session: complete Checkout
    finalizeCheckout();
}

</script>

{% endblock extra_scripts %}
