{% extends "base.html" %}

{% block extra_head %}

<link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.14.0/adyen.css" crossorigin="anonymous">

{% endblock extra_head %}

{% block content %}

<main>
    <div class="container wow fadeIn">

        <h2 class="my-5 h2 text-center">Payment</h2>

        <div class="row">

            <div class="col-md-12 mb-4">
                <div id="dropin-container"></div>
            </div>

            {% include "order_snippet.html" %}

        </div>

    </div>
</main>

{% endblock content %}

{% block extra_scripts %}

<script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.14.0/adyen.js" crossorigin="anonymous"></script>

<script type="text/javascript">
const sessionId = '{{ session_id }}';
const sessionData = '{{ session_data }}';

const configuration = {
  environment: 'test', // Change to 'live' for the live environment.
  clientKey: '{{ client_key }}', // Public key used for client-side authentication: https://docs.adyen.com/development-resources/client-side-authentication
  session: {
    id: sessionId, // Unique identifier for the payment session.
    sessionData: sessionData // The payment session data.
  },
  onPaymentCompleted: (result, component) => {
      console.info(result, component);
  },
  onError: (error, component) => {
      alert(error.message);
      console.error(error.name, error.message, error.stack, component);
  },
  paymentMethodsConfiguration: {
      ideal: {
          showImage: true
      },
      card: {
          hasHolderName: true,
          holderNameRequired: true,
          billingAddressRequired: true,
          name: "Credit or debit card",
          allow3DS2: true
      }
  }
};

async function startCheckout() {
  const checkout = await createAdyenCheckout(configuration);

  const dropinComponent = checkout.create('dropin').mount('#dropin-container');
  // dropinComponent.setStatus('error', { message: 'Something went wrong.'});
}

async function finalizeCheckout() {
    try {
        
        // Create an instance of AdyenCheckout to handle the shopper returning to your website.
        // Configure the instance with the sessionId you extracted from the returnUrl.
        
        
        //const checkout = await createAdyenCheckout(configuration);

        const checkout = await createAdyenCheckout({id: sessionId});
 
        // Submit the redirectResult value you extracted from the returnUrl.
        checkout.submitDetails({ details: { redirectResult } });

                
    } catch (error) {
        onError: (error, component) => {
        console.error(error.name, error.message, component);
    }
    }
}

async function createAdyenCheckout(configuration) {
  return new AdyenCheckout(configuration);
}

// Calls your server endpoints
async function callServer(url, data) {
	const res = await fetch(url, {
		method: "POST",
		body: data ? JSON.stringify(data) : "",
		headers: {
			"Content-Type": "application/json"
		}
	});

	return await res.json();
}

// Handles responses sent from your server to the client
function handleServerResponse(res, component) {
	if (res.action) {
		component.handleAction(res.action);
	} else {
		switch (res.resultCode) {
			case "Authorised":
				window.location.href = "/result/success";
				break;
			case "Pending":
			case "Received":
				window.location.href = "/result/pending";
				break;
			case "Refused":
				window.location.href = "/result/failed";
				break;
			default:
				window.location.href = "/result/error";
				break;
		}
	}
}

    startCheckout();
</script>

{% endblock extra_scripts %}
